body {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: aqua;
  .header {
    background-color: orange;
  }
  .main-container {
    display: flex;
    height: 100%;
    flex: 1 1 auto;
    .sidebar {
      background-color: rgb(43, 255, 0);
      height: 100%;
      width: 300px;
      .streamers-panel {
      }
      .info-panel {
      }
    }

    .main {
      min-height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      background-color: rgb(255, 0, 21);
      .navigation {
      }
      .content {
        flex: 1 1 auto;
        .carousel {
        }
        .container-for-video {
        }
      }
      .footer {
      }
    }
  }
}
