html,
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

//common styles
.p-sides {
  padding: 0 16px;
}

.f-row {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  text-align: center;
  background-color: aqua;
  .header {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 2px rgb(158, 155, 155);
    .logo-wrapper {
      font-size: 35px;
      color: orange;
      font-weight: bold;
      letter-spacing: 0.2em;
      align-items: center;
      i {
        padding-bottom: 10px;
        cursor: pointer;
      }
      .logo-text {
        margin-left: 15px;
        cursor: pointer;
        // додати медіа запрос який при зменшені екрану буде прибирати текст з логотипу
      }
    }
    .search-wrapper {
      //border: 2px solid gray;
      width: 35%;
      padding-top: 4px;
      .input-wrapper {
        width: 100%;
        input {
          width: 100%;
          height: 80%;
          padding: 7px;
          border-radius: 5px 0px 0px 5px;
          border: 1px solid grey;
          border-right: none;
          outline: none;
          &:focus {
            border: 2px solid rgb(63, 119, 223);
//при додаванні бордеру трішки зміщуються іконки вверх, або навпаки контейнер розтягується знизу.
          }
        }
        button {
          height: 80%;
          cursor: pointer;
          text-align: center;
          border-radius: 0px 5px 5px 0px;
          border: 1px solid grey;
          border-left: none;
          &:hover {
            background-color: rgb(199, 194, 194);
          }
          i {
            font-size: 15px;
          }
        }
      }
      .voise-search {
        font-size: 23px;
        padding: 1px 0px 0px 10px;
        cursor: pointer;
        &:hover {
          color: rgb(112, 110, 110);
        }
      }
    }
    .menu-wrapper {
    }
  }
  .main-container {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    top: 50px;
    height: 100%;
    .sidebar {
      background-color: rgb(43, 255, 0);
      height: 100%;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .streamers-panel {
        background-color: rgb(12, 170, 12);
      }
      .info-panel {
        background-color: rgb(3, 77, 3);
        height: 150px;
      }
    }

    .main {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      overflow: auto;
      background-color: rgb(255, 0, 21);
      .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .navigation {
        }
        .carousel {
        }
        .container-for-video {
          //height: 2000px;
        }
      }
      .footer {
        background-color: grey;
        height: 50px;
      }
    }
  }
}
